<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page 1</title>
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action="/quotes" method="POST">
        <p>Your name: <input type="text" name="name"></p>
        <p>Your quote: <textarea name="quote" cols="20" rows="5"></textarea></p>
        <p><button type="submit">Add my quote</button>
        <a href="/quotes">Skip to Quotes</a>
    </form>
</body>
</html>